Anton Palmqvist, Gitname: "epoxy" <palmqvist.anton@gmail.com>
Henrik Andersson, Gitname: "henke101" <heenrik@hotmail.com>
Marcus Tyren, Gitname: "tyrra" <marcus.tyren@gmail.com>
Tomas Sellden, Gitname: "tomsel" <tomsel1@hotmail.com>